@use 'variables';
@use 'hero';
@use 'header';
@use 'footer';
@use 'content';

@font-face {
  font-family: NetflixSans;
  src: url('../../assets/fonts/netflix-sans-light.woff2');
  font-weight: 200;
}

@font-face {
  font-family: NetflixSans;
  src: url('../../assets/fonts/netflix-sans-medium.woff2');
  font-weight: 400;
}

@font-face {
  font-family: NetflixSans;
  src: url('../../assets/fonts/netflix-sans-bold.woff2');
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: NetflixSans;
}

body {
  color: variables.$white;
  background-color: variables.$black;
}

@mixin text($fontSize: 16px) {
  font-size: $fontSize;
  color: variables.$white;
  line-height: $fontSize + 8px;
}

@mixin title($fontSize: 28px) {
  @include text($fontSize);
  color: variables.$white;
}

.text--big {
  @include text(22px);

  @media (max-width: 768px)  {
    @include text(15px);
  }
}

.text--small {
  @include text(12px);

  @media (max-width: 768px)  {
    @include text(11px);
  }
}

.title {
  @include title;

  @media (max-width: 768px)  {
    @include title(24px);
  }
}

.title--big {
  @include title(44px);

  @media (max-width: 768px)  {
    @include title(26px);
  }
}

.title--small {
  @include title(28px);

  @media (max-width: 768px)  {
    @include title(22px);
  }
}

.link-text {
  @include text(14px);
  text-decoration: none;
  font-weight: 200;

  &--active {
    font-weight: 700;
  }
}

.button {
  gap: 16px;
  display: flex;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border-radius: 4px;
  align-items: center;
  color: variables.$lightBlack;
  background-color: variables.$white;
  transition: background-color .5s ease;

  &:hover {
    background-color: rgba(variables.$white, 0.5);
  }

  &--info {
    color: variables.$lightBlack;
    background-color: rgba(variables.$gray, 0.7);
    
    &:hover {
      background-color: rgba(variables.$gray, 0.5);
    }
  }
}
