@use 'variables';
@use 'hero';
@use 'header';
@use 'footer';

@font-face {
  font-family: NetflixSans;
  src: url('../../assets/fonts/netflix-sans-light.woff2');
  font-weight: 200;
}

@font-face {
  font-family: NetflixSans;
  src: url('../../assets/fonts/netflix-sans-medium.woff2');
  font-weight: 400;
}

@font-face {
  font-family: NetflixSans;
  src: url('../../assets/fonts/netflix-sans-bold.woff2');
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: NetflixSans;
}

body {
  color: variables.$white;
  background-color: variables.$black;
}

@mixin text($fontSize: 16px) {
  font-size: $fontSize;
  color: variables.$white;
  line-height: $fontSize + 10px;
}

@mixin title($fontSize: 28px) {
  @include text($fontSize);
  color: variables.$white;
}

.text {}

.text--big {}

.text--small {}

.title {}

.title--big {}

.title--small {}

.button {}
